<a href="https://colab.research.google.com/github/madnaeem001/AI_Lab/blob/main/Lab_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **LAB 2**

github Link : https://github.com/madnaeem001/AI_Lab

 Python program to demonstrate List creation

In [1]:
# Creating an empty list
List = []
print("Blank List:")
print(List)

# Creating a list with numbers
List = [10, 20, 14]
print("\nList of numbers:")
print(List)

# Creating a list of strings and accessing elements by index
List = ["Geeks", "For", "Geeks"]
print("\nList Items:")
print(List[0])
print(List[2])

# Creating a multi-dimensional list (nested lists)
List = [['Geeks', 'For'], ['Geeks']]
print("\nMulti-Dimensional List:")
print(List)

Blank List:
[]

List of numbers:
[10, 20, 14]

List Items:
Geeks
Geeks

Multi-Dimensional List:
[['Geeks', 'For'], ['Geeks']]

Creating a List with the use of Numbers (Having duplicate values)

In [3]:
List = [1, 2, 4, 4, 3, 3, 3, 6, 5]
print("\nList with the use of Numbers: ")
print(List)

List with the use of Numbers:
[1, 2, 4, 4, 3, 3, 3, 6, 5]

Creating a List with mixed type of values (Having numbers and strings)

In [4]:
List = [1, 2, 'Geeks', 4, 'For', 6, 'Geeks']
print("\nList with the use of Mixed Values: ")
print(List)

List with the use of Mixed Values:
[1, 2, 'Geeks', 4, 'For', 6, 'Geeks']

Creating a List of numbers and observing lengths

In [5]:
List1 = []
print(len(List1))

List2 = [10, 20, 14]
print(len(List2))

0
3

Adding Elements to a List Using append() method

In [6]:
# Python program to demonstrate List operations

# Creating an empty list
List = []
print("Initial blank List:")
print(List)

# Adding individual elements to the list using append()
List.append(1)
List.append(2)
List.append(4)
print("\nList after Addition of Three elements:")
print(List)

# Adding multiple elements to the list using a loop
for i in range(1, 4):
    List.append(i)
print("\nList after Addition of elements from 1-3:")
print(List)

# Adding a tuple as a single element to the list
List.append((5, 6))
print("\nList after Addition of a Tuple:")
print(List)

# Creating another list and appending it as a single element
List2 = ['For', 'Geeks']
List.append(List2)
print("\nList after Addition of a List:")
print(List)

Initial blank List:
[]

List after Addition of Three elements:
[1, 2, 4]

List after Addition of elements from 1-3:
[1, 2, 4, 1, 2, 3]

List after Addition of a Tuple:
[1, 2, 4, 1, 2, 3, (5, 6)]

List after Addition of a List:
[1, 2, 4, 1, 2, 3, (5, 6), ['For', 'Geeks']]

Use of Insert() opertaion

In [7]:
# Python program to demonstrate List operations

# Creating a list with initial elements
List = [1, 2, 3, 4]
print("Initial List:")
print(List)

# Inserting an element at a specific position using insert()
# Insert 12 at index 3
List.insert(3, 12)
# Insert 'Geeks' at index 0 (beginning of the list)
List.insert(0, 'Geeks')
print("\nList after performing Insert Operation:")
print(List)

Initial List:
[1, 2, 3, 4]

List after performing Insert Operation:
['Geeks', 1, 2, 3, 12, 4]

Use of Insert and Extend Operations

In [8]:
# Python program to demonstrate List operations

# Creating a list with initial elements
my_list = [10, 20, 30, 40]
print("Initial List:")
print(my_list)

# Inserting elements at specific positions using insert()
# Insert 99 at index 3
my_list.insert(3, 99)
# Insert 'Python' at index 0 (beginning of the list)
my_list.insert(0, 'Python')
print("\nList after performing Insert Operation:")
print(my_list)

# Adding multiple elements to the end of the list using extend()
my_list.extend([77, 'Coding', 'Fun'])
print("\nList after performing Extend Operation:")
print(my_list)

Initial List:
[10, 20, 30, 40]

List after performing Insert Operation:
['Python', 10, 20, 30, 99, 40]

List after performing Extend Operation:
['Python', 10, 20, 30, 99, 40, 77, 'Coding', 'Fun']

Accessing elements from the List

In [9]:
# Python program to demonstrate list element access

# Creating a list with multiple values
my_list = ["Apple", "Banana", "Cherry"]

# Accessing elements from the list using index numbers
print("Accessing elements from the list:")
print(my_list[0])  # First element
print(my_list[2])  # Third element

# Creating a multi-dimensional list (nested list)
nested_list = [["Red", "Green"], ["Blue", "Yellow"]]

# Accessing elements from the multi-dimensional list using index numbers
print("Accessing elements from a multi-dimensional list:")
print(nested_list[0][1])  # 'Green'
print(nested_list[1][0])  # 'Blue'

Accessing elements from the list:
Apple
Cherry
Accessing elements from a multi-dimensional list:
Green
Blue

Accessing an element using negative indexing

In [10]:
# Python program to demonstrate list element access

# Creating a list with mixed values
my_list = [10, 20, "Python", 40, "Coding", 60, "Fun"]

# Accessing elements from the list using index numbers
print("Accessing elements from the list:")
print(my_list[0])  # First element
print(my_list[2])  # Third element

# Creating a multi-dimensional list (nested list)
nested_list = [["Red", "Green"], ["Blue", "Yellow"]]

# Accessing elements from the multi-dimensional list using index numbers
print("Accessing elements from a multi-dimensional list:")
print(nested_list[0][1])  # 'Green'
print(nested_list[1][0])  # 'Blue'

# Accessing elements using negative indexing
print("\nAccessing elements using negative indexing:")
print(my_list[-1])  # Last element
print(my_list[-3])  # Third last element

Accessing elements from the list:
10
Python
Accessing elements from a multi-dimensional list:
Green
Blue

Accessing elements using negative indexing:
Fun
Coding

REmoving Element

In [11]:
# Python program to demonstrate list operations

# Creating a list with mixed values
my_list = [100, 200, 300, 400, 500, 600, 700, 800, 900, 1000]
print("Initial List:")
print(my_list)

# Removing specific elements from the list using remove()
my_list.remove(500)
my_list.remove(600)
print("\nList after removal of two elements:")
print(my_list)

# Removing a range of elements using a loop
for i in [100, 200, 300, 400]:
    my_list.remove(i)
print("\nList after removing a range of elements:")
print(my_list)

Initial List:
[100, 200, 300, 400, 500, 600, 700, 800, 900, 1000]

List after removal of two elements:
[100, 200, 300, 400, 700, 800, 900, 1000]

List after removing a range of elements:
[700, 800, 900, 1000]

Exploring the POP() feature

In [12]:
# Python program to demonstrate list operations

# Creating a list with mixed values
my_list = [10, 20, 30, 40, 50, 60, 70, 80]
print("Initial List:")
print(my_list)

# Removing specific elements from the list using remove()
my_list.remove(50)
my_list.remove(60)
print("\nList after removal of two elements:")
print(my_list)

# Removing a range of elements using a loop
for i in [10, 20, 30]:
    my_list.remove(i)
print("\nList after removing a range of elements:")
print(my_list)

# Removing the last element from the list using pop()
my_list.pop()
print("\nList after popping the last element:")
print(my_list)

# Removing an element at a specific index using pop()
my_list.pop(1)
print("\nList after popping an element at index 1:")
print(my_list)

Initial List:
[10, 20, 30, 40, 50, 60, 70, 80]

List after removal of two elements:
[10, 20, 30, 40, 70, 80]

List after removing a range of elements:
[40, 70, 80]

List after popping the last element:
[40, 70]

List after popping an element at index 1:
[40]